@import '../../../index.scss';

.search-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  height: max-content;

  .backdrop-image-wrapper {
    display: flex;
    width: 100%;
  }

  .input-wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: red;
    z-index: 1;

    .search-input {
      display: flex;
      padding: 1rem 0.5rem;
      width: 50%;
      max-height: 3rem;
      height: 20%;
      opacity: 0.75;
      color: $secondary-color;
      border: none;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      font-size: 1rem;
    }

    .search-input:focus {
      outline: none;
    }

    .search-button {
      width: 20%;
      max-width: 2rem;
      max-height: 3rem;
      height: 20%;
      border: none;
      background-color: $white-color;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      opacity: 0.75;
      fill: $light-pink-color;
      cursor: pointer;

      & > * {
        display: flex;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.1rem;
        fill: $heavy-pink-color;
        z-index: 3;
        transition: scale 0.125s ease-out;

        &:hover {
          scale: 1.5;
        }
      }
    }
  }
}
