@import '../../index';

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: $secondary-color;
  height: 5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  transition: opacity 0.5s linear;

  @include media-query($max-width: 768px) {
    height: 4rem;
  }

  .logo-container {
    margin: 0.1rem;
    flex-grow: 1;
    .logo {
      cursor: pointer;
      height: 100%;
    }
  }

  .search-icon {
    margin: 0 1rem;
    justify-self: center;
    align-self: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: $offwhite-color;
  }

  .browse-container-desktop {
    display: flex;
    height: 100%;
    z-index: 3;

    a {
      background: none;
      border: none;
      color: $lightest-pink-color;
      margin: auto;
      cursor: pointer;
      font-family: $font-heading;
      font-weight: bold;
      text-decoration: none;
      margin-right: 1rem;
    }
  }

  .toggle-browse-mobile {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      color: $lightest-pink-color;
      border: none;
      transition: transform 0.125s linear;

      &:hover {
        transform: scale(1.05);
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
        transition: transform 0.125s linear;

        &[class='rotated'] {
          transform: rotate(90deg);
        }
      }
    }
  }
}

.browse-container-mobile {
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  transition: max-height 0.125s linear;
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  background-color: $secondary-color;
  z-index: 3;

  a {
    background: none;
    border: none;
    color: $lightest-pink-color;
    margin: 1rem 1rem;
    cursor: pointer;
    font-family: $font-heading;
    font-weight: bold;
    text-decoration: none;
  }
}
