@import '../../index.scss';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: $secondary-color;

  a {
    margin: 0 2rem;

    svg {
      color: $offwhite-color;
      height: 1.5rem;
      width: 1.5rem;

      @include media-query($max-width: 768px) {
        height: 1rem;
        width: 1rem;
      }
    }
  }
}
