@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-heading: 'Kanit', sans-serif;
$font-body: 'Roboto', sans-serif;

$white-color: #ffffff;
$offwhite-color: #d1d1d1;
$primary-color: #111111;
$secondary-color: #000000;
$heavy-pink-color: #8e00cc;
$light-pink-color: #c133ff;
$lightest-pink-color: #d066ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: $font-body;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
}

@mixin media-query($max-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}
